<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/categories-listing.css">
    <link rel="stylesheet" href="/stylesheets/category-new-form.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Import AXIOS Library -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/javascripts/categories-listing.js" type="module" defer></script>
    <script src="/javascripts/category-new-form.js" type="module" defer></script>
    <title>My Wallet App - Categorias</title>
</head>
<body mwa-page="categories-listing">
    <!-- <nav class="side-navbar">
        teste
    </nav> -->
    
    <header class="toolbar">
        <div id="leftSide">
            <div class="back-button-container">
                <img class="img-back-button" src="/images/left-arrow.jpg" alt="seta voltar" onclick="history.back()">
            </div>

            <div class="page-title-container">
                <span>Minhas categorias</span>
            </div>
        </div>

        <div id="rightSide">
            <button class="btn btn-cl-green" id="bntNewCategory">ADICIONAR CATEGORIA</button>
        </div>
    </header>

    <section class="category-list-container">
        <div class="category-box">
            <ul class="categories-list">
                <li class="list-section-header">
                    <h2 class="list-section-title">
                        <span>Entrada / Ganhos</span>
                    </h2>
        
                    <ul class="categories-sublist">
                        <% if ( categoriesList ) {
                            categoriesList.forEach( (category, index) => {
                                if ( category.transactionType == 'C' ) {%>
                                <li class="list-item">
                                    <span><%= category.name %></span>
                                    <div class="category-management-buttons-container" categoryId="<%= category.id %>" categoryType="<%= category.transactionType %>">
                                        <span class="category-management-buttons material-icons" name="btnEditCategory">edit</span>
                                        <span class="category-management-buttons material-icons" name="btnDeleteCategory">delete</span>
                                    </div>
                                </li>        
                            <% }} )
                        } %>
                    </ul>
                </li>
        
                <li class="list-section-header">
                    <h2 class="list-section-title"><span>Saída / Gastos</span></h2>
        
                    <ul class="categories-sublist">
                        <% if ( categoriesList ) {
                            categoriesList.forEach( (category, index) => {
                                if ( category.transactionType == 'D' ) {%>
                                <li class="list-item">
                                    <span><%= category.name %></span>
                                    <div class="category-management-buttons-container" categoryId="<%= category.id %>" categoryType="<%= category.transactionType %>">
                                        <span class="category-management-buttons material-icons" name="btnEditCategory">edit</span>
                                        <span class="category-management-buttons material-icons" name="btnDeleteCategory">delete</span>
                                    </div>
                                </li>        
                            <% }} )
                        } %>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="category-edit-container" id="categoryEditorBox">
            <div class="category-edit-content" >
                <div class="new-category-box">
                    <h1 id="categoryEditorTitle">
                        <span>Editar categoria</span>
                        <span class="btnCloseEditor" id="buttonCloseEditor">&times;</span>
                    </h1>
                    
                    <form action="#">
                        <input type="number" name="id" id="editorEditId" hidden>
                        <input type="number" name="userId" id="editUserId" hidden>
                    
                        <label for="editorEditName" id="labelName" class="field-border">
                            <span>Nome da categoria</span>
                            <input type="text" name="name" id="editorEditName" class="borderless">
                        </label>
                    
                        <fieldset class="field-border flex-container-row">
                            <legend>Tipo de transações desta categoria</legend>
                            <div>
                                <input type="radio" name="transactionType" id="editorRadioCred" value="c"><label for="editorRadioCred">Ganhos</label>
                            </div>
                            <div>
                                <input type="radio" name="transactionType" id="editorRadioDeb" value="d" class="separator"><label for="editorRadioDeb">Gastos</label>
                            </div>
                        </fieldset>
                    
                        <div class="button-container">
                            <a class="btn btn-cl-red" id="btnEditorCancel">Cancelar</a>
                            <a class="btn btn-cl-green" id="btnEditorSave">Salvar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/category-new-form.html'); %>

    <!-- Top notification bar start-->
    <%- include('../partials/top-notification-bar.html'); %>
    <!-- Top notification bar end-->
    <div id="myUserId"><%= userId %></div>
</body>
</html>