<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/categories-listing.css">
    <link rel="stylesheet" href="/stylesheets/category-new-form.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Import AXIOS Library -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/javascripts/categories-listing.js" type="module" defer></script>
    <script src="/javascripts/category-new-form.js" defer></script>
    <script src="/javascripts/extra-functions.js"></script>
    <title>My Wallet App - Categorias</title>
</head>
<body mwa-page="categories-listing">
    <!-- <nav class="side-navbar">
        teste
    </nav> -->
    
    <header class="toolbar">
        <div id="leftSide">
            <div class="back-button-container">
                <a href="/app/dashboard">
                    <img class="img-back-button" src="/images/left-arrow.jpg" alt="seta voltar" onclick="history.back()">
                </a>
            </div>

            <div class="page-title-container">
                <span>Minhas categorias</span>
            </div>
        </div>

        <div id="rightSide">
            <button class="btn btn-cl-green" id="bntNewCategory">ADICIONAR CATEGORIA</button>
        </div>
    </header>

    <section class="category-list-container">
        <div class="category-box">
            <ul class="categories-list">
                <li class="list-section-header">
                    <h2 class="list-section-title">
                        <span>Entrada / Ganhos</span>
                    </h2>
        
                    <ul class="categories-sublist">
                        <% if ( categoriesList ) {
                            categoriesList.forEach( (category, index) => {
                                if ( category.transactionType == 'C' ) {%>
                                <li class="list-item" categoryid="<%= category.id %>" categoryname="<%= category.name %>" categorytype="<%= category.transactionType %>">
                                    <span><%= category.name %></span>
                                </li>        
                            <% }} )
                        } %>
                    </ul>
                </li>
        
                <li class="list-section-header">
                    <h2 class="list-section-title"><span>Saída / Gastos</span></h2>
        
                    <ul class="categories-sublist">
                        <% if ( categoriesList ) {
                            categoriesList.forEach( (category, index) => {
                                if ( category.transactionType == 'D' ) {%>
                                <li class="list-item" categoryid="<%= category.id %>" categoryname="<%= category.name %>" categorytype="<%= category.transactionType %>">
                                    <span><%= category.name %></span>
                                </li>        
                            <% }} )
                        } %>
                    </ul>
                </li>
            </ul>
        </div>

    </section>

    <%- include('../partials/category-new-form.html'); %>

    <!-- Top notification bar start-->
    <%- include('../partials/top-notification-bar.html'); %>
    <!-- Top notification bar end-->
    <div id="myUserId"><%= userId %></div>
</body>
</html>