<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/transaction-new-form.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Import AXIOS Library -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <script src="/javascripts/extra-functions.js"></script>

    <!-- Links for Wallets List Modal -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheets/modal-wallet-list.css">
    <!--  -->

    <script>
        var userId = "<%= userId %>"
        var walletId = "<%= selectedWallet %>"
    </script>

    <title>Minhas transações</title>
</head>
<body mwa-page="transactions-listing">
    
    <!-- Start of the visible app content -->
    <div id="app-content">
        
        <header class="toolbar">
            <div id="leftSide">
                <div class="back-button-container">
                    <a href="/app/dashboard">
                        <img class="img-back-button" src="/images/left-arrow.jpg" alt="seta voltar">
                    </a>
                </div>

                <% if ( selectedWallet == -1 ) {%>
                               
                    <div id="selectedWalletContainer">
                    <div class="no-wallet-selected-container">
                        <img class="wallet-icon" src="/images/wallet.png" alt="Ícone da carteira">
                        <div class="select-wallet-container">
                            <span>Nenhuma carteira foi selecionada</span>
                            <span>Clique <span id="ctaSelectWallet">aqui</span> e selecione uma agora</span>
                        </div>
                    </div>
                </div>
                
                <% }
                else { %>
                
                <div id="selectedWalletContainer">
                    <div class="wallet-container">
                        <img class="wallet-icon" src="/images/wallet.png" alt="Ícone da carteira">
                        <div class="wallet-info">
                            <span id="toolbarWalletName"><%= wallet.name %><i class="material-icons change-wallet-icon">arrow_drop_down</i></span>
                            <span id="toolbarWalletBalance">
                                <strong><%= wallet.actualBalance %></strong>
                            </span>
                        </div>
                    </div>
                </div>

                <% } %>
            </div>

            <div id="rightSide">
                <% if ( selectedWallet > 0 ) { %>
                <div class="commands-container" id="commandsContainer">
                    <span class="material-icons">calendar_month</span>
                    <span class="material-icons search-icon">search</span>

                    <button class="btn btn-cl-green" id="menuBtnAddTransaction">
                        <span class="btn-caption">ADICIONAR TRANSAÇÃO</span>
                        <span class="btn-icon material-icons">add</span>
                    </button>
                </div>
                <% } %>
            </div>
        </header>

        <main>
            <section class="transactions-list" id="transactionsContainer">
                
                <!--
                <ul class="transactions-day-group">
                    
                    <div class="group-header">
                        <div class="day-number-box">
                            <span id="groupDayNumber">25</span>
                        </div>
        
                        <div class="month-year-box">
                            <span id="groupMonthYear">
                                <span>terça-feira</span><br>
                                <span>janeiro 2022</span>
                            </span>
                        </div>

                        <div class="group-total-value">
                            <span class="total-title">Total</span>
                            <span id="transactionsTotalValue">- 1.999.550,00 BRL</span>
                        </div>
                    </div>

                    <div class="group-body">
                        <div class="group-items-container">
                            <li class="transaction-item" transactionId="<ID_HERE>">
                                <div class="item-category-icon-container">
                                    <img src="https://picsum.photos/40" alt="Ícone da categoria">
                                </div>

                                <div class="item-body-container">
                                    <span id="transactionCategoryName">Nome da categoria aqui</span>
                                    <span id="transactionDescription">Descrição da transação aqui</span>
                                </div>

                                <div class="item-value-container">
                                    <span id="transactionValue">- 999.450,29 BRL</span>
                                </div>
                            </li>

                        </div>
                    </div>
                </ul>
            -->

            </section>
        </main>

    </div>
    <!-- End of the visible app content -->

    <!-- 'Wallet selection' modal start-->
    <%- include('../partials/modal-wallet-list.ejs'); %>
    <!-- 'Wallet selection' modal end-->

    <!-- 'Add / Edit transaction' modal start-->
    <%- include('../partials/transaction-new-form.html', {user: userId, userCategoriesList: userCategoriesList}); %>
    <!-- 'Add / Edit transaction' modal end-->
    
    <!-- Top notification bar start-->
    <%- include('../partials/top-notification-bar.html'); %>
    <!-- Top notification bar end-->

    <script src="/javascripts/extra-functions.js"></script>
    <script src="/javascripts/transactions-listing.js"></script>
</body>
</html>